.link{
    cursor: pointer;
}
.burger{
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.line{
    width: 100%;
    height: 2px;
    background-color: var(--textColor);
}