.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 16px;
  background-color: crimson;
  color: white;
  cursor: pointer;
}

.button:disabled{
  background-color: rgba(220, 20, 60, 0.473);
  cursor: not-allowed;
}