.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}


.social {
    display: flex;
    gap: 10px;
    flex: 1;
}

.logo{
   flex: 1;
   text-align: center;
   font-size: 36px;
   font-weight: bold;
}

.links{
    display: flex;
    gap:20px;
    flex: 1;
    font-size: 20px;
    align-items: center;
}

@media screen and (max-width:1300px){
    
    .logo{
       flex: 1;
       text-align: center;
       font-size: 24px;
       font-weight: bold;
    }
    
    .links{
        display: flex;
        gap:15px;
        flex: 1;
        font-size: 15px;
    }
    
}

@media screen and (max-width:1024px){
    .social{
        display: none;
    }

    .logo{
       text-align: left;
    }
    
}


@media screen and (max-width:768px){
    .logo{
      font-size: 24px;
    }
    
}

@media screen and (max-width:640px){
    .link{
      display: none;
    }
    .links{
        justify-content: flex-end;
    }    
}