.container{
    width: 40px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
}