.container {
  flex: 2;
  margin-top: 60px;
}

.subtitle {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}
.title {
  font-size: 28px;
}


@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}