.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.wrapper {
  background-color: var(--softBg);
  padding: 150px 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 10px;
}

.socialButton {
  padding: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialButton:first-child {
  background-color: #ff5555;
}

.socialButton:nth-child(2) {
  background-color: #111;
}

.socialButton:nth-child(3) {
  background-color: #087bea;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    padding: 30px;
  }

  .socialButton {
    font-weight: 400;
    font-size: 14px;
  }
}
