.container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
}
