.container {
  width: 40px;
  height: 20px;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.ball {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
}
