.categoryList {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .categoryItem {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .categoryItem.style {
    background-color: #57c4ff31;
  }
  
  .categoryItem.fashion {
    background-color: #da85c731;
  }
  
  .categoryItem.food {
    background-color: #7fb88133;
  }
  
  .categoryItem.travel {
    background-color: #ff795736;
  }
  
  .categoryItem.culture {
    background-color: #ffb04f45;
  }
  
  .categoryItem.coding {
    background-color: #5e4fff31;
  }