.container{
    width: 40px;
    height: 22px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: relative;
 
}
.ball{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    left: 2px;
}